frontend/node_modules/
frontend/.pnp/
frontend/.pnp.js
frontend/build/
frontend/dist/

backend/*.exe
backend/*.out
backend/*.test
backend/vendor/
/backend/bin/

.vscode/
.idea/
*.sw?

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
/logs
*.log

coverage/
*.lcov

.DS_Store
Thumbs.db

docker/mysql/data/
sql/

.env
**/.env.local
**/.env.*.local

*.exe.
*.out

/backend/assets/images/products/
